
.pompes-inactive {
    padding: 1rem;
    background-color: #ffebee; 
  }
  
  .pompes-inactive h1 {
    color: #c62828; 
  }
  
  .pompes-inactive ul {
    list-style-type: none;
    padding: 0;
  }
  
  .pompes-inactive li {
    background-color: #ffffff;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  